@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&family=Combo&family=Comfortaa&family=Dancing+Script:wght@500&family=Delius&family=Inter:wght@300&family=Kanit:wght@200&family=Krona+One&family=Merienda&family=Playfair+Display:ital@1&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');


.h1{
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
  font-family: 'Roboto Serif', serif;
}
.button{
  text-align: center;
  margin-top: 2%;
  
}


.all-hospitals-div {
  text-align: center;
}
.each-hospital-div {
  background-color: blue;
  width: 40%;
  color: white;
  margin-left: 30%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.each-hospital-div > div {
  margin-bottom: 1%;
}
.each-hospital-div a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.all-police-div {
  text-align: center;
}
.each-police-div {
  background-color: red;
  width: 30%;
  color: white;
  margin-left: 35%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.each-police-div > div {
  margin-bottom: 1%;
  font-family: 'Arimo', sans-serif;
}
.each-police-div a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.phone{
  font-size: 2rem;
}
.location-value{
  font-size: 1.5rem;
 
}
.location-title{
  font-size: 1.5rem;
  font-weight: bolder;
  
}
.hospital-button{
  background-color: blue;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.police-button{
  background-color: red;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
@media (max-width: 640px) {
  .h1{
    font-size: 1rem;
  }
  .each-hospital-div{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
  }
  .each-police-div{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
  }
}